<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.EmployeeMapper">
        <!-- statements for CrudRepository method -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="instance.employeeNumber">
        INSERT INTO employee 
            (firstname, lastname, age, hired_at)
        VALUES 
            (#{instance.firstname}, #{instance.lastname}, #{instance.age}, #{instance.hiredAt})
    </insert>
    <update id="update">
        UPDATE employee SET
            firstname = #{instance.firstname}, lastname = #{instance.lastname}, age = #{instance.age}, hired_at = #{instance.hiredAt}
        WHERE
            employee_number = #{instance.employeeNumber}
    </update>
    <delete id="delete">
        DELETE FROM employee WHERE employee_number = #{id}
    </delete>
    <delete id="deleteAll">
        DELETE FROM employee
    </delete>
    <select id="existsById" resultType="_boolean">
        SELECT count(*) FROM employee WHERE id = #{id}
    </select>
    <select id="findById" resultType="employee">
        SELECT
            employee_number, firstname, lastname, age, hired_at
        FROM
            employee
        WHERE
            employee_number = #{id}
    </select>
    <select id="findAll" resultType="employee">
        SELECT
            employee_number, firstname, lastname, age, hired_at
        FROM
            employee
        ORDER BY
            id
    </select>
    <select id="findAllById" resultType="employee">
        SELECT
            employee_number, firstname, lastname, age, hired_at
        FROM
            employee
        <where>
            <foreach collection="id" item="idValue" open="employee_number in("
                separator="," close=")">
                #{idValue}
            </foreach>
        </where>
        ORDER BY
            employee_number
    </select>
    <select id="count" resultType="_long">
        SELECT count(*) FROM employee
    </select>
</mapper>